#navbar-main {
  background-color: #004E98;
}

.container {
  position: absolute;
  top: 20px;
  padding: 65px;
}

@media (min-width: 1800px) {
  .container {
    left: 300px;
    top: 150px;
  }
}

h1 {
  font-size: 200px;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 150px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 100px;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .container {
    left: -25px;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 70px;
  }
}

